**Naive Bayes: Predicting survival from titanic crash**

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/kaggle/input/titanic/titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [ ]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns', inplace = True)

In [7]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [8]:
target = df.Survived
inputs = df.drop('Survived',axis = 'columns')

In [10]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [11]:
inputs = pd.concat([inputs,dummies], axis = 'columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [12]:
inputs.drop('Sex', axis = 'columns',inplace = True)
inputs.head(3)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False

In [13]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [14]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [18]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.3)

In [29]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [30]:
model.fit(x_train, y_train)

GaussianNB()

In [31]:
model.score(x_test, y_test)

0.8171641791044776

In [32]:
x_test[:10]

     Pclass   Age     Fare  female   male
355       3  28.0   9.5000   False   True
52        1  49.0  76.7292    True  False
482       3  50.0   8.0500   False   True
585       1  18.0  79.6500    True  False
203       3  45.5   7.2250   False   True
113       3  20.0   9.8250    True  False
328       3  31.0  20.5250    True  False
682       3  20.0   9.2250   False   True
417       2  18.0  13.0000    True  False
2         3  26.0   7.9250    True  False

In [33]:
y_test[:10]

355    0
52     1
482    0
585    1
203    0
113    0
328    1
682    0
417    1
2      1
Name: Survived, dtype: int64

In [34]:
model.predict(x_test[:10])

array([0, 1, 0, 1, 0, 1, 1, 0, 1, 1])